*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vh;
    /* background: yellow; */
}
.section-kartu-nama{
    position: relative;
    left: 6%;
    top: 2rem;
}
#profile-img-card{
    width: 7.9rem;
    border-radius: 50%;
    position: absolute;
    left: 53%;
    top: 5%;
}
/* .card-name{
    background: red;
    position: relative;
    height: 0px;
} */
.profile-nama-card{
    position: absolute;
    left: 48.2%;
    top: 45%;
    text-align: center;
    padding: 0 3rem;
}
#profile-jabatan-card{
    position: absolute;
    left: 58.6%;
    top: 54%;
    color: white;
    font-size: 19px;
}
#detail-card{
    position: absolute;
    left: 3%;
    top: 16.8rem;
    font-size: 15px;
}
#profile-telp-card,#profile-email-card,#profile-tanggal-card{
    padding: 0;
    margin: 0;
    font-weight: 500;
}
#qrcode-card{
    position: absolute;
    left: 54.6%;
    top: 14.8rem; 
}

.section-kartu-nama-belakang{
    position: relative;
    left: 6%;
    top: 4rem;
}
#logo-lembaga-card{
    position: absolute;
    left: 44.5%;
    top: 5rem; 
    width: 4rem;
}
#detail-lembaga-card{
    position: absolute;
    top: 11.5rem; 
    left: 30%;;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
#profile-telepon,#profile-alamat-lembaga,#profile-email-lembaga,#profile-website-lembaga{
    margin: 0;
}

/* #qrcode-card svg{
    width: 50%;
    height: 50%;
} */

@media print{
    *{
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }
}